CONFIG_CROSS_COMPILE="csky-abiv2-linux-"
# CONFIG_LOCALVERSION_AUTO is not set
CONFIG_SYSVIPC=y
CONFIG_BSD_PROCESS_ACCT=y
CONFIG_BSD_PROCESS_ACCT_V3=y
CONFIG_IKCONFIG=y
CONFIG_NAMESPACES=y
# CONFIG_NET_NS is not set
CONFIG_BLK_DEV_INITRD=y
CONFIG_INITRAMFS_SOURCE="${BR_BINARIES_DIR}/rootfs.cpio"
# CONFIG_BASE_FULL is not set
# CONFIG_EPOLL is not set
# CONFIG_SIGNALFD is not set
# CONFIG_TIMERFD is not set
# CONFIG_EVENTFD is not set
CONFIG_EMBEDDED=y
# CONFIG_COMPAT_BRK is not set
CONFIG_SLAB=y
CONFIG_MODULES=y
CONFIG_MODULE_UNLOAD=y
CONFIG_CPU_CSKYV2=y
CONFIG_CSKY_CACHE_SIZE=0x10000
CONFIG_CSKY_CACHE_LINE_FLUSH=y
CONFIG_CSKY_CACHE_WAY=4
CONFIG_CPU_HAS_FPU=y
# CONFIG_CPU_BIG_ENDIAN is not set
CONFIG_HIGHMEM=y
CONFIG_CPU_CLOCK_FREQ=932000000
CONFIG_APB_FREQ=62500000
CONFIG_RAM_BASE=0xc0000000
CONFIG_PHYSICAL_BASE_CHANGE=y
CONFIG_SSEG0_BASE=0xc0000000
CONFIG_CMDLINE="root=ubi0:rootfs rw ubi.mtd=3,2048 rootfstype=ubifs rootflags=sync console=ttyS0 rdinit=/sbin/init mem=128m"
CONFIG_DH7200=y
CONFIG_IZTEXTADDR_SET=0xc0000000
CONFIG_PREEMPT=y
CONFIG_NET=y
CONFIG_PACKET=y
CONFIG_UNIX=y
CONFIG_INET=y
CONFIG_IP_MULTICAST=y
CONFIG_IP_ADVANCED_ROUTER=y
CONFIG_IP_PNP=y
CONFIG_IP_PNP_DHCP=y
CONFIG_IP_PNP_BOOTP=y
CONFIG_IP_PNP_RARP=y
# CONFIG_INET_XFRM_MODE_TRANSPORT is not set
# CONFIG_INET_XFRM_MODE_TUNNEL is not set
# CONFIG_INET_XFRM_MODE_BEET is not set
# CONFIG_INET_LRO is not set
# CONFIG_INET_DIAG is not set
CONFIG_IPV6=y
CONFIG_INET6_AH=y
CONFIG_INET6_ESP=y
CONFIG_INET6_IPCOMP=y
# CONFIG_INET6_XFRM_MODE_BEET is not set
# CONFIG_IPV6_SIT is not set
# CONFIG_WIRELESS_EXT_SYSFS is not set
CONFIG_UEVENT_HELPER_PATH="/sbin/hotplug"
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
# CONFIG_PREVENT_FIRMWARE_BUILD is not set
CONFIG_MTD=y
CONFIG_MTD_CHAR=y
CONFIG_MTD_BLOCK=y
CONFIG_DH7200_SPI_FLASH_SUPPORT=y
CONFIG_MTD_SPI_FLASH_SUPPORT=y
CONFIG_DH7200_MTD_SUPPORT=y
# CONFIG_DH7200_MTD_SNOR is not set
CONFIG_DH7200_MTD_SNAND=y
CONFIG_DH7200_SPI_LOCK=y
CONFIG_MTD_NAND=y
CONFIG_MTD_UBI=y
CONFIG_BLK_DEV_RAM=y
CONFIG_MISC_DEVICES=y
CONFIG_ADC_DH7200=y
CONFIG_NETDEVICES=y
CONFIG_NET_ETHERNET=y
CONFIG_DHCMAC=y
# CONFIG_NETDEV_1000 is not set
# CONFIG_NETDEV_10000 is not set
CONFIG_HOSTAP=y
CONFIG_HOSTAP_FIRMWARE=y
CONFIG_HOSTAP_FIRMWARE_NVRAM=y
# CONFIG_INPUT is not set
# CONFIG_SERIO is not set
# CONFIG_VT is not set
# CONFIG_LEGACY_PTYS is not set
# CONFIG_DEVKMEM is not set
CONFIG_SERIAL_DH7200=y
CONFIG_SERIAL_DH7200_CONSOLE=y
# CONFIG_HW_RANDOM is not set
CONFIG_PWM_DH7200=y
CONFIG_I2C=y
CONFIG_I2C_CHARDEV=y
CONFIG_I2C_DH7200=y
CONFIG_MAILBOX=y
CONFIG_MBX_DH7200_MAILBOX_MASTER=m
CONFIG_SPI=y
CONFIG_SPI_GPIO=y
CONFIG_SPI_DESIGNWARE=y
CONFIG_GPIO_DH7200=y
# CONFIG_HWMON is not set
CONFIG_WATCHDOG=y
CONFIG_DH7200_WDT=y
# CONFIG_MFD_SUPPORT is not set
# CONFIG_USB_SUPPORT is not set
CONFIG_MMC=y
CONFIG_RTC_CLASS=y
# CONFIG_RTC_DRV_CK6408 is not set
CONFIG_EXT2_FS=y
# CONFIG_DNOTIFY is not set
CONFIG_AUTOFS4_FS=y
CONFIG_VFAT_FS=y
CONFIG_NTFS_FS=y
CONFIG_NTFS_RW=y
CONFIG_TMPFS=y
CONFIG_TMPFS_POSIX_ACL=y
CONFIG_JFFS2_FS=y
CONFIG_UBIFS_FS=y
CONFIG_UBIFS_FS_XATTR=y
CONFIG_UBIFS_FS_ADVANCED_COMPR=y
CONFIG_SQUASHFS=y
CONFIG_SQUASHFS_XZ=y
CONFIG_NFS_FS=y
CONFIG_NFS_V3=y
CONFIG_NFS_V3_ACL=y
CONFIG_NLS_CODEPAGE_437=y
CONFIG_NLS_ISO8859_1=y
# CONFIG_ENABLE_WARN_DEPRECATED is not set
# CONFIG_ENABLE_MUST_CHECK is not set
CONFIG_DEBUG_FS=y
CONFIG_DYNAMIC_DEBUG=y
CONFIG_AVERAGE=y
