BR2_csky=y
BR2_ck810=y
BR2_CSKY_FPU=y
BR2_CSKY_GERRIT_REPO=y
BR2_PACKAGE_CSKY_EXAMPLES=y
BR2_PACKAGE_CSKY_EXAMPLES_VERSION="ca202e3d80b724d28002ae33f86c5e790fdd6ded"
# BR2_PACKAGE_CSKY_EXAMPLES_V4L2_DECODE is not set
# BR2_PACKAGE_CSKY_EXAMPLES_V4L2_ENCODE is not set
# BR2_PACKAGE_CSKY_EXAMPLES_FFMPEG_PLAYER is not set
BR2_PACKAGE_CSKY_AI=y
BR2_PACKAGE_CSKY_AI_VERSION="938215155541184fd3606fdbaf1de35e280b9f45"
BR2_PACKAGE_CSKY_NPU_TEST_CASES=y
BR2_PACKAGE_CSKY_NPU_TEST_HANDWRITE_NUMBER=y
BR2_OPTIMIZE_2=y
BR2_PACKAGE_OVERRIDE_FILE="board/csky/anole_ck810/local.mk"
BR2_GLOBAL_PATCH_DIR="board/csky/common/linux-$(BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE)-patches"
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM=y
BR2_TOOLCHAIN_EXTERNAL_DOWNLOAD=y
BR2_TOOLCHAIN_EXTERNAL_URL="https://gitlab.com/c-sky/buildroot/-/jobs/95233415/artifacts/raw/output/images/csky_toolchain_qemu_csky_ck810f_4.16_glibc_defconfig_e9cc5a5b66c4555bef62fbb3c2cb425889a0cadb.tar.xz"
BR2_TOOLCHAIN_EXTERNAL_GCC_6=y
BR2_TOOLCHAIN_EXTERNAL_HEADERS_4_15=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_GLIBC=y
BR2_TOOLCHAIN_EXTERNAL_CXX=y
BR2_TARGET_OPTIMIZATION="-mhard-float"
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_MDEV=y
BR2_ROOTFS_OVERLAY="$(BASE_DIR)/build/linux-$(BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE)/addons/fs-overlay/anole"
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/csky/anole_ck810/post-image.sh"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="4.16.2"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/csky/anole_ck810/linux.config"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_USE_CUSTOM_DTS=y
BR2_LINUX_KERNEL_CUSTOM_DTS_PATH="board/csky/anole_ck810/anole_ck810.dts"
BR2_LINUX_KERNEL_EXT_CSKY_ARCH=y
BR2_LINUX_KERNEL_EXT_CSKY_ARCH_VERSION="9a4910fbef3a93d55ce521edf40acf2cfd7b6189"
BR2_LINUX_KERNEL_EXT_CSKY_ADDONS=y
BR2_LINUX_KERNEL_EXT_CSKY_ADDONS_VERSION="bddaca2f2f1de00a6052f1aaf95891e311a52fd6"
BR2_PACKAGE_BUSYBOX_CONFIG="board/csky/anole_ck810/busybox.config"
BR2_PACKAGE_TREE=y
BR2_PACKAGE_E2FSPROGS=y
BR2_PACKAGE_E2FSPROGS_E2IMAGE=y
BR2_PACKAGE_PICOCOM=y
BR2_PACKAGE_ETHTOOL=y
BR2_PACKAGE_IPERF3=y
BR2_TARGET_ROOTFS_INITRAMFS=y
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
BR2_TARGET_UBOOT_CUSTOM_GIT=y
BR2_TARGET_UBOOT_CUSTOM_REPO_URL="ssh://${GITUSER}@192.168.0.78:29418/os/u-boot"
BR2_TARGET_UBOOT_CUSTOM_REPO_VERSION="8e3d6c57e14c347a704c50d637b4796c9a7d62e9"
BR2_TARGET_UBOOT_BOARD_DEFCONFIG="eragon"
BR2_TARGET_UBOOT_SPL=y
BR2_PACKAGE_HOST_GENEXT2FS=y
BR2_PACKAGE_HOST_CSKY_DEBUG=y
