BR2_csky=y
BR2_ck807=y
BR2_CSKY_FPU=y
BR2_OPTIMIZE_2=y
BR2_PACKAGE_OVERRIDE_FILE="board/csky/eragon2_evb/local.mk"
BR2_GLOBAL_PATCH_DIR="board/csky/common/linux-$(BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE)-patches"
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_4_9=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_PACKAGE_HOST_GDB=y
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_MDEV=y
BR2_ROOTFS_OVERLAY="board/csky/eragon2_evb/fs-overlay"
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/csky/eragon2_evb/post-image.sh"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="4.9.56"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/csky/eragon2_evb/linux.config"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_USE_CUSTOM_DTS=y
BR2_LINUX_KERNEL_CUSTOM_DTS_PATH="board/csky/eragon2_evb/eragon2_evb.dts board/csky/eragon2_evb/*.dtsi"
BR2_LINUX_KERNEL_EXT_CSKY_ARCH=y
BR2_LINUX_KERNEL_EXT_CSKY_ARCH_GIT=y
BR2_LINUX_KERNEL_EXT_CSKY_ARCH_GIT_URL="ssh://${GITUSER}@192.168.0.78:29418/os/linux-csky"
BR2_LINUX_KERNEL_EXT_CSKY_ADDONS=y
BR2_LINUX_KERNEL_EXT_CSKY_ADDONS_GIT=y
BR2_LINUX_KERNEL_EXT_CSKY_ADDONS_VERSION="0e18b37081f48399f154badc945d672f9cecc875"
BR2_LINUX_KERNEL_EXT_CSKY_ADDONS_GIT_URL="ssh://${GITUSER}@192.168.0.78:29418/os/linux-csky-addons"
BR2_PACKAGE_BUSYBOX_CONFIG="board/csky/eragon2_evb/busybox.config"
BR2_PACKAGE_ALSA_UTILS=y
# BR2_PACKAGE_ALSA_UTILS_ALSAMIXER is not set
BR2_PACKAGE_ALSA_UTILS_AMIXER=y
BR2_PACKAGE_ALSA_UTILS_APLAY=y
BR2_PACKAGE_FFMPEG=y
BR2_PACKAGE_E2FSPROGS=y
BR2_PACKAGE_E2FSPROGS_E2IMAGE=y
BR2_PACKAGE_FB_TEST_APP=y
BR2_LINUX_KERNEL_EXT_CSKY_EXAMPLES=y
BR2_LINUX_KERNEL_EXT_CSKY_EXAMPLES_GIT=y
BR2_LINUX_KERNEL_EXT_CSKY_EXAMPLES_VERSION="26846cc390397d9bdc8da9aad74140dce9e11b7c"
BR2_LINUX_KERNEL_EXT_CSKY_EXAMPLES_GIT_URL="ssh://${GITUSER}@192.168.0.78:29418/test/linux_driver"
BR2_PACKAGE_PICOCOM=y
BR2_PACKAGE_LIBDRM=y
BR2_PACKAGE_ETHTOOL=y
BR2_TARGET_ROOTFS_INITRAMFS=y
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
BR2_TARGET_UBOOT_CUSTOM_GIT=y
BR2_TARGET_UBOOT_CUSTOM_REPO_URL="ssh://${GITUSER}@192.168.0.78:29418/os/u-boot"
BR2_TARGET_UBOOT_CUSTOM_REPO_VERSION="2cf57cd3b70d0c5bb96083794ed0aeda604242ac"
BR2_TARGET_UBOOT_BOARD_DEFCONFIG="eragon2"
BR2_TARGET_UBOOT_SPL=y
BR2_PACKAGE_HOST_GENEXT2FS=y
BR2_PACKAGE_HOST_CSKY_DEBUG=y
