# Architecture
BR2_csky=y
BR2_ck807=y

# Kernel headers
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_4_9=y

# Kernel configuration
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_VMLINUX=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="4.9.56"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/csky/eragon_evb/linux_ci_nodriver_nofpu.config"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_USE_CUSTOM_DTS=y
BR2_LINUX_KERNEL_CUSTOM_DTS_PATH="board/csky/eragon_evb/eragon_evb_ci.dts board/csky/eragon_evb/*.dtsi"

# Kernel addons & extentions
BR2_LINUX_KERNEL_EXT_CSKY_ARCH=y
BR2_LINUX_KERNEL_EXT_CSKY_ADDONS=y
BR2_LINUX_KERNEL_EXT_CSKY_ADDONS_GIT=y
BR2_LINUX_KERNEL_EXT_CSKY_ADDONS_VERSION="b0355ffbd5689883966cd8bd4b5acc8c355167da"
BR2_LINUX_KERNEL_EXT_CSKY_ADDONS_GIT_URL="https://github.com/c-sky/linux-csky-addons.git"

# Kernel patches
BR2_GLOBAL_PATCH_DIR="board/csky/common/linux-$(BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE)-patches"

# System configuration
BR2_OPTIMIZE_2=y

# Rootfs
BR2_TARGET_ROOTFS_INITRAMFS=y
BR2_ROOTFS_OVERLAY="board/csky/eragon_evb/fs-overlay"
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/csky/eragon_evb/post-image-ci.sh"
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_MDEV=y

# Toolchain & C library
BR2_TOOLCHAIN_BUILDROOT=y
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y

# Packages on host
BR2_PACKAGE_HOST_CSKY_DEBUG=y
BR2_PACKAGE_HOST_GDB=y

# Packages on board
BR2_PACKAGE_GDB=y
BR2_PACKAGE_GDB_SERVER=y

# Gitlab-CI
BR2_PACKAGE_CSKY_CI=y

# Testcases
BR2_PACKAGE_DHRYSTONE=y
BR2_PACKAGE_LMBENCH=y
BR2_PACKAGE_LTP_TESTSUITE_ARCH_SUPPORTS=y
BR2_PACKAGE_LTP_TESTSUITE=y
BR2_PACKAGE_WHETSTONE=y

# Others
BR2_PACKAGE_OVERRIDE_FILE="board/csky/eragon_evb/local.mk"
BR2_PACKAGE_BUSYBOX_CONFIG="board/csky/eragon/busybox.config"
