# Architecture
BR2_csky=y

# Kernel headers
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_4_14=y

# Kernel configuration
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_VMLINUX=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="4.14.66"
BR2_LINUX_KERNEL_DEFCONFIG="gx66xx"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_USE_CUSTOM_DTS=y
BR2_LINUX_KERNEL_CUSTOM_DTS_PATH="board/nationalchip/gx66xx/gx6622_ci.dts"

# Kernel addons & extentions
BR2_LINUX_KERNEL_EXT_CSKY_ARCH=y

# Kernel patches
BR2_GLOBAL_PATCH_DIR="board/nationalchip/gx66xx/patches"

# System configuration
BR2_OPTIMIZE_2=y

# Rootfs
BR2_SHARED_STATIC_LIBS=y
BR2_TARGET_GENERIC_GETTY_PORT="ttyS0"
BR2_ROOTFS_OVERLAY="board/nationalchip/gx66xx/fs-overlay/"
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/nationalchip/gx66xx/post-image-ci.sh"
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_MDEV=y

# Toolchain & C library
BR2_TOOLCHAIN_BUILDROOT=y
BR2_TOOLCHAIN_BUILDROOT_UCLIBC=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_TOOLCHAIN_BUILDROOT_WCHAR=y
BR2_PTHREAD_DEBUG=y

# Packages on host
BR2_PACKAGE_HOST_CSKY_DEBUG=y
BR2_PACKAGE_HOST_GDB=y

# Packages on board
BR2_PACKAGE_GDB=y
BR2_PACKAGE_GDB_SERVER=y

# Gitlab-CI
BR2_PACKAGE_CSKY_CI=y

# CI Testcases
BR2_PACKAGE_LTP_CI=y
BR2_PACKAGE_LMBENCH_CI=y
#BR2_PACKAGE_DHRYSTONE_CI=y
#BR2_PACKAGE_WHETSTONE_CI=y
#BR2_PACKAGE_GREENLET_CI=y Can't compile python in uclibc
BR2_PACKAGE_UCLIBC_CI=y
